<%= stylesheet_link_tag "mainPage"%>

<div class="container">

    <div class="background-main">
      <%=render "partials/newNav"%>
      
      <div class="cont-2">
        <div class="row">
          <div class="col-12">
            <button class="announce-btn">Announcing the latest news</button>
            <div class="crf-heading">
              <h1>Welcome to CRF NITK</h1>
            </div>
            <h3 class="sub-title">An HEFA financed facility, dedicated to the service of the nation.</h3>
            <button class="head-btn"> Get Started</button>
            <button class="head-btn"> Book Slot </button>

            
          </div>

        </div>
      
      </div>
      
      
      
    </div>
    <div class="wrap">
      
      <div class="features-section">
        <div class="features-head">Facilities</div>
        <div class="sub-feature"> An esteemed research centre boasting state of the art facilities, cutting-edge technology and top of the line equipment</div>
        <div class="features-content">
            <div class="features">
            
            50+ world class equipments at your service</div>
            <div class="features">
            
            Annual funding of over 80+ crores</div>
            <div class="features">
            
            Over 11,000+ square metres of floor area </div>
        </div>
    </div>


    </div>
</div>